<header>
  <h1 class='app-title'><a href='/'>Brand</a></h1>
  <nav class='navbar'>
    <ul>
      <li class='li-inline nav-item'><a href='/'>Home</a></li>
      <li class='li-inline nav-item'><a href='/profile'>Dashboard</a></li>
      <li class='li-inline nav-item'><a href='/login'>Login</a></li>
    </ul>
  </nav>
</header>