<main>
  <h2>Peep List</h2>
  <table>
    <tr>
      <th>Title</th>
      <th>First</th>
      <th>Last</th>
    </tr>
    {{#each peeps}}
      {{> peep-row }}
    {{/each}}
  </table>
</main>
<script src='/js/landing.js'></script>